.birthday {
    display:  flex;
    align-items: flex-start;
    color: #b4b1b3;
    font-family: medium;
    font-size: 12px;
    justify-content: flex-start;
    padding: 6px;
}

.pencil {
    background-image: url(../Icons/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px; 
    height: 15px;
    display: inline-block;
}

.editIcon {
    display: flex;
    cursor: pointer;
    font-size: 15px;
}